/* App - main
/* -------------------------------------------------- */
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin: 0;                                  /* Reset default margin */
    padding:0;
    height:100%;
    width:100%;
}

/* App - loading
/* -------------------------------------------------- */
.app .event.listening:before {
/*  content: ''; *//* Fix loading iOS */
    position: absolute;
    width: 100%;
    height: 100%;
    background: #007893 url('../img/loading-spin.svg') 50% 50% no-repeat;
    background-size: 50px;
}
.app .event.received iframe {
    background: #007893 url('../img/loading-spin.svg') 50% 50% no-repeat;
    background-size: 50px;
}

/* App - iframe
/* -------------------------------------------------- */
.app .event.received iframe {
    display: block;         /* iframes are inline by default */
    border: none;           /* Reset default border */
    height: 100vh;          /* Viewport-relative units */
    width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
}
